.header-logo {
    float: left;
    padding-top: 11.37px;
    padding-left: 230.1px;
    padding-bottom: 10.65px;
}

body {
    width:1440px;
    text-align: center;
    margin: auto;
}

main {
    width:980px;
    

}

li {
    list-style: none;
    float:right ;
    color: #5F2201;
    font-size: 18px;
    padding-right: 230px;
    padding: 31px 31px;
    font-weight: bold;
}


.moji {
    font-size:36px;
    color: #5F2201;
    margin-top: 100px ;
    margin-left: 453px;
    margin-right:452px;
}

section {
    float:right;
}
.image {
    float:right;
}
.about {
    background-color: #FFF3DD;
    margin-top:500px;
}


.more {
    border-radius:10px;
    color: #5F2201;
    text-decoration: none;
    border: 1px solid #5F2201;
    padding:5px;
}

.contact {
    background-color: #FFFFFF;
    
}
.contact p {
    float:right;
}
footer {
    background-color: #B9B9B9;
    text-align: center;
    width:1440px;
    height: 60px;
}
footer p {
    color: #FFFFFF;
    padding-top: 24px;
}
.map {
    color:#5F2201;
    text-decoration: none;
    border-radius:10px;
    border: 1px solid #5F2201;
    padding:5px;
    
}
