@media  (max-width: 768px) {
  
  body {
    width:768px;
    
}
  
  .header-logo img {
    width:125px;
   
   }
   .header-list li {
     padding: 15px 15px;
   }
   .slide img {
     width:768px;
   }
  
 
 .moji,.moji-about,.moji-contact {
    font-size:20px;
  }
  
  .skill,.skill-2,.neko,.neko-2,.image-1,.image-2,.cat,.cat-2,.con-img,.you {
    margin-left:5px;
    margin-right:5px;
    font-size:15px;
  }
  
  .skill,.skill-2 {
    margin: 0 auto;
  }
  .image-1 img {
    width:250px;
  }
  .image-2 img {
    width: 250px;
    
  }
  
  .neko {
    width:250px;
    margin-left:50px;
  }
  .neko-2 {
    width:250px;
    margin-right:50px;
  }
  .contact {
    font-size:15px;
  }
  
  .more {
    display:inline-block;
    margin-top:50px;
  }
  .you {
    margin-left:50px;
  }
  footer {
    width:768px;
  }
}

@media  (max-width: 414px) {
  
  .header-logo img {
    width:125px;
     margin-left:-20px;
   }
   
   .navToggle {
    display:block;
  }
   .header-list li {
   display: none;
 }
   .slide {
     margin-right:40px;
     padding-top:15px;
   }
   .slide img {
     width:414px;
   }
  
 .moji,.moji-contact {
    font-size:20px;
    padding-top:30px;
    padding-bottom:15px;
  }
  
  .moji-about{
    font-size:20px;
    padding-top:50px;
    padding-bottom:15px;
  }
 body {
    width: 414px;
    overflow: auto;
}
  
  .cat {
    margin-left:15px;
    margin-right:15px;
    display:block;
    font-size:15px;
  }
  .con-img {
    margin:0 auto;
    display:block;
    font-size:15px;
    width:300px;
    height:300px;
  }
  .you {
    margin-left:15px;
    margin-right:15px;
    display:block;
    font-size:15px;
  }
  .map {
    margin-top:5px;
  }
  .cat-2 {
    margin-left:15px;
    margin-right:15px;
    display:block;
    font-size:15px;
    padding-top:30px;
  }
  .neko,.neko-2 {
    width:390px;
    margin:15px auto;
  }
  .skill {
    flex-direction: column;
    margin:-25px auto;
    width:400px;
    height:450px;
  }
  
  .skill-2 {
    margin:15px  auto;
    flex-direction: column-reverse;
     width:400px;
     height: 400px;
     margin-bottom:-15px;
  }
  
  .skill img ,.skill-2 img{
    width:100%;
    
  }
  
  .contact {
    display: block;
    font-size:15px;
     width:414px;
  }
  
  .back {
    height: 1000px;
    width:414px;
    margin-top:0px;
  }
  .about {
    width:95%;
  }
  footer {
    width:414px;
    margin-top:-50px;
    font-size:12px;
    height:30px;
  }
  footer p {
   padding-top:6px;
  }
}

@media (max-width:375px) {
  body {
    overflow: auto;
  }
  .slide img {max-width: 100%;
}
.navToggle {
    display:block;
  }
 .header-list li {
   display: none;
 }
.skill {
  margin: 0 10px;
  width:375px;
}
.skill-2 {
  margin:0 10px;
  width:375px;
}
.skill img ,.skill-2 img{
    width:94%;
    
  }
  .back {
    height: 1000px;
    width: 375px;
    }
    
  .neko, .neko-2 {
    width: 359px;
    margin: 15px 3px;
  }
  .contact {
    margin:0 5px;
    width:375px;
  }
  .moji {
    width:375px;
    margin:0 ;
  }
  .moji-contact 
   { width:375px;
     margin:0 5px;
  }
  footer {
    width:375px;
  }
}



@media (max-width:320px)  {

  body {
    overflow: auto;
  }
  .navToggle {
    display:block;
    right:40px;
    width:14px;
    height:14px;
  }
  .cover {
    width:320px;
  }
  .slide {
    margin-right: 0px;
  }
  .slide img {
    width:320px;
    
  }
 
  .con-img {
    margin: 0 5px;
  }
  .neko, .neko-2 {
    width: 300px;
   
  }
  .skill img, .skill-2 img {
    width: 80%;
   }
   .back {
    width: 320px;
}
  .moji-contact {
    width: 320px;
  }
  .moji {
    width:320px;
  }
  .you {
    width:320px;
    margin:0;
  }
  footer {
    width: 320px;
}
}
