@media  (max-width: 768px) {
  
 
  li {
    display:none;
  }
  .header-logo img {
    width:125px;
   
   }
   .slide img {
     width:375px;
   }
  .fa-bars {
    display: block!important;
    font-size:30px;
    margin-left:250px;
    }
 .moji,.moji-about,.moji-contact {
    font-size:20px;
  }
  
  body {
    width:414px; 
    
  }
  .skill,.skill-2,.neko,.neko-2,.image-1,.image-2,.cat,.cat-2,.con-img,.you {
    margin-left:5px;
    margin-right:5px;
    display:block;
    font-size:15px;
  }
  .contact {
    display: block;
    font-size:15px;
  }
  
  .back {
    height: 1000px;
  }
  footer {
    width:375px;
  }
}

@media (max-width:414px)  {
  body {
    background-color: #DDDDDD;
  }
  .header-logo,.slide,.skill,.skill-2,.cat,.more,.contact,footer {
    display:none;
   
  }
  .back {
     background-color: #DDDDDD;
     height: 120px;
     margin:0 auto;
  }
  .about {
    height: 200px;
  }
  .moji {
   height: 0px;
   margin-top: 160px;
  }
  
   .fa-times {
    display: block!important;
    font-size:30px;
    margin-left:250px;
    }
    .fa-bars {
      display:none!important;
    }
}